body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 width: 100dvw;
 height: 100dvh;
 justify-content: space-between;
 align-items: space-evenly;
}

.header {
  background-color: darkslategray;
  height: 15dvh; 
  width: auto;
}

.options {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 50px;
}

.score-container {
  display: flex;
  flex-direction: column;
}

.player-container,
.computer-container {
  display: flex;
  gap: 5px;
}

button {
  width: 200px;
  height: 40px;
  border: 3px solid black;
  border-radius: 25px;
  color: whitesmoke;
  font-weight: 800;
  font-size: 20px;
  background-color: grey;
}


.result-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center; 
  background-color: gray;
  height: 6rem;
  width: 40rem;
  align-self: center;
  border-radius: 25px;
  color: whitesmoke;
}

.player-score,
.computer-score {
  color: lightgreen;
}

.winner {
  font-size: 25px;
  color: lightgreen;
  font-weight: 800;
}

.footer {
  background-color: darkslategray;
  width: auto;
  height: 15dvh;
}
